<footer> 
  <div class="sponsors" id="sponsorpanel">
    <h2>Our 2015 Sponsors</h2>
    <p>Code the city can only happen thanks to our sponsors and supporters.</p>
    <p><a href="http://www.abdn.ac.uk/study/courses/postgraduate/taught/software-entrepreneur/"><img src="/img/sponsors/grid-au.png" alt="aberdeen university logo" /></a>
    <a href="https://www.aberdeencity.gov.uk/"><img src="/img/sponsors/grid-acc.png" alt="aberdeen city council logo" /></a> 
    <a href="http://www.edinburgh.gov.uk/"><img src="/img/sponsors/grid-edinburgh.png" alt="edinburgh city council logo" /></a>  
    <a href="http://www.eventifier.com/"><img src="/img/sponsors/grid-eventifier.png" alt="eventifier logo" /></a>
    <a href="http://www.fifthring.com/"><img src="/img/sponsors/grid-fr.png" alt="fifthring logo" /></a>
    <a href="http://dans-on.eu/"><img src="/img/sponsors/grid-danson.png" alt="danson logo" /></a>
     </p>
  </div> 
</footer>