<header> 
  <div class="wrap">

    <h1 class="brand-title"><a href="/"><img src="/img/masthead-mid.png" alt="codethecity"/></a></h1> 

    <div class="social">
      <a href="http://codethecity.tumblr.com/"><i class="fa fa-tumblr fa-2x"></i></a> 
      <a href="http://twitter.com/codethecity/"><i class="fa fa-twitter fa-2x"></i></a> 
      <a href="https://www.facebook.com/codethecity"><i class="fa fa-facebook fa-2x"></i></a> 
      <a href="mailto:steve@codethecity.org"><i class="fa fa-envelope-o fa-2x"></i></a>
      <a href="https://github.com/codethecity"><i class="fa fa-github fa-2x"></i></a>
    </div>

    <nav >
      <ul > 
        <li><a href="/about/">ABOUT</a></li>  
        <li><a href="/events/">EVENTS</a></li> 
        <li><a href="#sponsorpanel">SPONSORS</a></li>  
        <li><a href="/toolkit/">TOOLKIT</a></li>  
      </ul>   
    </nav> 
  </div>
</header>
