<!doctype html>
<html lang="en">
  {% include head.html %}
<body>  

{% include header.html %}
 
  <div id="home" >
    <div class="wrap">
      <section class="allposts">
      {{ content }}
      </section>

      <aside>
        <h4>UPCOMING EVENTS</h4> 
        {% for post in site.hacks reversed %} 
            <p><a href="{{ post.url }}">{{ post.display_title }}</a> {{ post.datemark }} </p>   
        {% endfor %}   
        <h4>RECENT EVENTS</h4>
        {% for post in site.pasthacks reversed %} 
            <p><a href="{{ post.url }}">{{ post.display_title }}</a> {{ post.datemark }} </p>   
        {% endfor %}   
      </aside>
    </div>
  </div> 
  
  {% include docdrafts.html %}
  {% include footer.html %}
  {% include foot.html %}

</body>
</html>